:root {
  --amplify-primary-color: #57068C;
  --amplify-primary-tint: #6a1aa0;
  --amplify-primary-shade: #9a37db;
}


html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
#notation {
    height: 100%;
    box-sizing: border-box;
  }
.notation-container {
    height: 100%;
    box-sizing: border-box;
  }
.quill {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
  }
.ql-container {
    box-sizing: border-box;
    height: calc(100% - 42px);
    overflow-y: scroll;
}
.ql-editor {
    cursor: text;
}
.none-selected{
  text-align: center;
  font: 3rem;
}
#side-menu{
  position: absolute;
  height: 100px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 5px 5px;
  top: -80px;
  right: 5px;
  transition: 0.3s;
  background: #57068C;
  z-index: 99;
}

#side-menu:hover {
  top: 0px;
}